.App {
  max-width: 60vw;
  margin: 0 auto;
}

.App footer {
  font-size: 13px;
  margin: 10px 0;
  font-weight: 630;
}
.container {
  margin-top: 4%;
}

footer a {
  color: aliceblue;
  text-decoration: none;
}
